<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style/styles.css" />

</head>

<body class="min-h-screen flex items-center justify-center">
    <main class="w-full max-w-md p-6 rounded-lg">
        {{{body}}}
    </main>
</body>

</html>