<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style/styles.css" />

</head>

<body>
    {{> header}}
    <main class="container">
        {{{body}}}
    </main>
</body>

</html>